.idea
.ca*
.certs
.private
.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
t.py
.cache/
cover/
build/
docs/_build
ownca.egg-info/
*.pyc
*.swp
*.egg
env/
.venv/
.eggs/
.tox/
.pytest_cache/
.vscode/
.eggs/
.workon
t.py
t2.py
dist
/.mypy_cache/
htmlcov/
Ownca.egg-info/
.DS_Store
CA_test*
ICA_test*
