[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "==5.1"
tox = "*"
flake8 = "*"
codecov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
cryptography = "<35.0.0,>=3.4.6"
voluptuous = "*"
