[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
tox = "*"
flake8 = "*"
codecov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
mypy = "*"
isort = "*"
black = "*"
pre-commit = "*"

[packages]
cryptography = ">=3.4.6,<40.0.0"
voluptuous = "*"
