name: Merge

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install tox and coverage
      run: pip install tox coverage

    - name: Run Python tests
      run: make py3.9-tests

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        flags: all-tests
        name: coverage
        fail_ci_if_error: true
