# This is a basic workflow to help you get started with Actions

name: Tests

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: '3.7'

    # Install dependencies
    - name: Install tox and coverage
      run: pip install tox coverage

    # Runs Python tests
    - name: Run Python tests
      run: make py37-tests

    - name: Run Docs tests
      run: make docs

    - uses: actions/checkout@master
    - uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        flags: unittests
        name: coverage
        fail_ci_if_error: true